body
{
    background-color: #A0522D;
}
button
{
    width: 200px;
    height: 200px;
    background-color: yellow;
    border: 2px solid red;
    border-radius: 26px;
    color: white;
    font-size: 2em;
    font-family: Verdana;
}
button:hover
{
    background-color: red;
    color: black;
}